/* DEMO styles. Not needed. */
section {
  background-color: #563d7c;
  h1,
  h2,
  h3 {
    color: #ffffff;
    font-size: 5vw;
    small {
      color: rgba(255,255,255,.75);
    }
  }
  p,
  a,
  .lead {
    color: rgba(255,255,255,.5);
    font-size: 1.5vw;
  }
  a {
    text-decoration: underline;
    color: rgba(255,255,255,.75);
  }
}

section {
  background-size: cover;
  background-position: center center;
}
#section1 {
  background-color: #563d7c;
  .container {
    padding-top: 20vh;
  }
}
#section2 {
  background-color: #000000;
}
#section3 {
  background-color: #563d7c;
}
